body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}

.home-link {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.home-link:hover {
    background-color: #D4D4D4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    color: black;
}

form {
    margin-bottom: 20px;
    text-align: center;
}

select {
    padding: 8px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

input[type="submit"]:hover {
    background-color: #5E5E5E;
}

.exam-list {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
}

.exam-item {
    margin-bottom: 10px;
    text-align: left;
}

