table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 8px;
}
th {
    background-color: #f2f2f2;
}

.total-row {
    font-weight: bold;
    text-align: center;
}

.process-row {
    font-weight: bold;
}

.total-row td {
    text-align: center;
}


.process-row td {
    text-align: center;
}

.process-row td.pass {
    color: green;
}

.process-row td.not-pass {
    color: red;
}

.process-row td.studying {
    color: blue;
}

td.weight, td.score {
    text-align: center;
}

