body {
    font-family: Arial, sans-serif;
    background-color: rgb(33,33,33);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: rgb(212, 212, 212);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.error-message {
    color: red;
    margin-bottom: 10px;
}
