body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}

.home-link {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.home-link:hover {
    background-color: #D4D4D4;
}

.container {
    position: relative;
    width: 100%;
}

.subject-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
    color: #000;
}

.subject-table th, .subject-table td, .subject-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.subject-table th {
    background-color: #555555;
    color: white;
}

.subject-table tr {
    cursor: pointer;
}

.subject-table tr:hover {
    background-color: #fff;
}

.subject-table td {
    color: black;
}

.subject-table td:hover {
    background-color: #D4D4D4;
}