body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}

.home-link {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.home-link:hover {
    background-color: #D4D4D4;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: whitesmoke;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}

li:hover {
    background-color: #D4D4D4;
}