body {
    font-family: Arial, sans-serif;
    background-color: rgb(33, 33, 33);
    color: #fff;
    line-height: 1.6;
    margin: 20px;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}

.home-link {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.home-link:hover {
    background-color: #D4D4D4;
}

form {
    margin: 20px auto;
    width: 80%;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 20px;
    color: #000;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    background-color: transparent;
    border: none;
    color: #000;
}

input[type="submit"] {
    background-color: #C9C9C9;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5F5F5F;
}
