body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(33, 33, 33);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: rgb(33, 33, 33);
    padding: 10px;
}

.home-link {
    padding: 10px 20px;
    background-color: rgb(128, 128, 128);
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

.home-link:hover {
    background-color: #D4D4D4;
}

.back {
    color: white;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px;
}

h2, h3 {
    color: #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #555555;
    color: white;
}

td{
    color: black;
}

tr:hover td {
    background-color: white;
}

.lecturer-name {
    display: inline-block;
    margin-right: 10px;
}

td:hover {
    background-color: #ddd;
}